<div>
  <label>Title</label>: <input ng-model="movie.title">
</div>
<div>
  <label>Description</label>: <textarea ng-model="movie.description"></textarea>
</div>
<div>
  <label>Year</label>: <input ng-model="movie.year">
</div>
<div>
  <label>Director</label>: <input ng-model="movie.director">
</div>
<div>
  <label>Duration</label>: <input ng-model="movie.duration">
</div>
<div>
  <label>Country</label>: <input ng-model="movie.country">
</div>
<div>
  <label>Guion</label>: <input ng-model="movie.guion">
</div>


<input type="submit" value="Submit">
<button ng-click="cancel()">No</button>