<div class="container">
	<div>
  <label>Title</label>: 
  <br><input ng-model="movie.name">
</div>
<div>
  <label>Description</label>: <br><textarea ng-model="movie.description"></textarea>
</div>
<div>
  <label>Year</label>: <br><input ng-model="movie.year">
</div>
<div>
  <label>Director</label>: <br><input ng-model="movie.director">
</div>
<div>
  <label>Duration</label>: <br><input ng-model="movie.duration">
</div>
<div>
  <label>Country</label>: <br><input ng-model="movie.country">
</div>
<div>
  <label>Guion</label>: <br><input ng-model="movie.guion">
</div>
<br><br>

<input type="submit" value="Submit" class="btn btn-success">
<button class="btn " ng-click="cancel()">Cancel</button>
</div>